html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}
img {
  max-width: 100%;
}
p {
  font-size: 1em;
}

.site-header {
  margin-bottom: 1.25em;
  padding: 0;
}

.site-header img {
  width: 100%;
  height: 20em;
}

.container {
  max-width: 75em;
  margin: 0;
}
.container-main {
  max-width: auto;
  margin: 0;
}

.bar {
  background-color: #c92234;
  overflow: hidden;
}
.main-nav {
  padding: 1.25em 0;
  position: relative;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.main-nav a:hover {
  background-color: #1e6fc8;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.375em;
  padding: 1.25em;
  text-align: center;
  display: block;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .main-nav a {
    display: inline;
  }

  .site-header {
    text-align: center;
  }

  .site-header img {
    width: 90%;
    height: 25em;
    margin-top: 1.25em;
  }
  body{
    background-color: #afbec5;
  }
}

.main-content {
  background-color: white;
  margin-top: 2.5em;
  padding: 0;
}


@media (min-width: 768px) {
  .main-content {
    width: 80%;
    float: left;
    margin: 1.25em 0 1.25em 1.25em;
    margin-top: 2.5em;
  }
  .sidebar {
    text-align: center;
    width: 15%;
    float: right;
    margin-right: 1.25em;
    margin-top: 2.5em;
  }

}

/*Contenido*/
h6 {
  color: gray;
}
h2 {
  color: #c92234;
  margin-bottom: 1.25em;
}
.article-container h2 {
  font-size: 2.5em;
}

.container-content {
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.text-center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-dark {
  background: #2f3542;
  color: #fff;
}

.article-container {
  padding: 2rem 0;
}

.article-container p {
  text-align: justify;
}

@media (max-width: 560px) {
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }
}
/*  Sidebar */
.sidebar{
  background-color:#2f3542;
  text-align: center;
}
.sidebar h2{
  color: #ffffff;
}
.sidebar .title{
  color: #1e6fc8;
  margin-bottom: 1.25em;
  text-decoration: none;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 0.625em;
}
.sidebar ul li:hover {
  background-color: #00b8e4;
}
.sidebar ul li a {
  color: #ffffff;
  font-size: 1.25em;
 text-decoration: none;
}
.sidebar ul li:hover a {
  color: #ffffff;
}

/* Footer */
.footer-site {
  background-color: #c92234;
  margin-top: 3.75em;
  padding-top: 2.5em;
  text-align: center;
}
.footer-site h2 {
  color: #ffffff;
  text-align: center;
}
.footer-site a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25em;
  padding: 1em 1.25em;
  display: block;
}
.footer-menu a:hover {
  background-color: #1e6fc8;
}

.footer-site a:last-of-type {
  margin-right: 0;
}
.footer-site p {
  color: #ffffff;
}

.grid-social{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.social{
  text-align: center;
  color: #ffffff;
}

.social img{
width: 35%;
}

@media (min-width: 768px) {
  .footer-site .about-us {
    float: left;
    width: 60%;
    text-align: left;
    margin-left: 2.5em;
  }
  .footer-site .footer-menu {
    float: right;
    width: auto;
    text-align: center;
  }


  .social img{
    margin-top: 1.25em;
    width: 35%;
    }
}
.copyright {
  background-color: #1e6fc8;
  padding: 1.25em 0;
}

.juegos img{
  width: 15em;
}
